/* App.css */

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  font-family: Arial;
}

.form input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.resume {
  background: white;
  padding: 30px;
  margin-top: 20px;
}

.resume h1 {
  margin-bottom: 5px;
}

.resume h2 {
  margin-top: 20px;
}
